.welcome h1 {
    font-weight: bold;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 50px;
}

p {
    font-size: 30px;
    font-family: monospace;
    text-align: center;
}

.acc {
    margin-bottom: 10%;
}